.header {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #89CFF0;
    text-align: center;
}

.button {
    background-color: navy; /* Navy */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 1.5em;
    width: 140px;
    margin-top: 15px;
}

#total {
    border-radius: 0.7em;
    overflow: hidden;
    box-shadow: 0 1px 2px #aaa;
    margin: 5px;
    width: 170px;
    height: 20px;
}

#people {
    border-radius: 0.7em;
    overflow: hidden;
    box-shadow: 0 1px 2px #aaa;
    margin: 5px;
    width: 170px;
    height: 20px;
}

#tipPerc {
    border-radius: 0.7em;
    overflow: hidden;
    box-shadow: 0 1px 2px #aaa;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 170px;
    height: 20px;
}

#tipMan {
    border-radius: 0.7em;
    overflow: hidden;
    box-shadow: 0 1px 2px #aaa;
    margin: 5px;
    width: 170px;
    height: 20px;
}

#calcBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#clearBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#personSplit {
    margin-top: 10px;
}